<!--  <section class="app-users">
  <h1>users</h1>

  <ul>

      @for (user of users; track user.id){

      <li>{{user.name}}</li>


  <hr>
  <li>{{user.username}}</li>
      }
  </ul>
  </section>

 -->


<div class="container mt-3">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track user){
      <tr>
        <td><a [routerLink]="['/user', user.id]">{{user.id}}</a></td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
      </tr>
    }
    </tbody>
  </table>
</div>
