<p>user-det works!</p>
<!-- <p>markaad isticmaalaysid snap shaashada bes ayaad ka badali kartaa click kuuma badalayso</p>
<p>yacni h3 kani waa id gii isma badalayo snapshot markaad isticmaashi</p>
<p>labada click iyo shaashada waaxaa ka badali kartaa markaad isticmaasho subsceibe</p> -->
<h3>kani waa id gii  lambar--{{id}}</h3>
<nav>
<a [routerLink]="['/userDet/1']" routerLinkActive="router-link-active" >UserDet 1</a><hr/>
<a [routerLink]="['/userDet/2']" routerLinkActive="router-link-active" >UserDet 2</a>
</nav>