<h3 class="userList-title">UserList works!</h3>

<!-- <div>
  <h2>user list</h2>
  <ul>
    @for(user of userList; track id){
  <li>{{user.id}}</li>
    }
  </ul>
</div>
 -->
 <div class="container mt-3">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track user){
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.username}}</td>
      </tr>
    }
    </tbody>
  </table>
</div>
