<div class="container">
    <div class="center " style="background-color: lightblue; ">

<!--  <h2 class="text-center"> user ID:{{user.userId}}</h2>
 <h2 class="text-center"> user name:{{user.userName}}</h2> -->
<!-- 
 <h2 class="text-center"> user ID:{{changeId}}</h2>
 <h2 class="text-center"> user name:{{changeName}}</h2> -->

 <h2 class="text-center"> user ID:{{changeId}}</h2>
 <h2 class="text-center"> user name:{{changeName}}</h2>
</div>
    <button class="btn btn-primary" [routerLink]="['/home',1,'mohiaden']">change ule</button>
</div>
